.footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background: #3bdb9be8; */
    max-width: -webkit-fill-available;
    min-height: 170px;
    margin-top: 131px;
    
}